/* This is the CSS code for the Marist Parking app */

h1, h2 {font-family: sans serif; text-align: center; color: #e55a53;}

.button {font-family: sans serif; background-color: #e55a53; color: white; }

footer {font-family: sans serif; background-color: #e55a53; color: white;}

body {font-family: sans serif; text-align: center; color: #e55a53;}

